@mixin button-size($height, $padding-horizontal, $font-size, $line-height, $border-radius) {
  height: $height;
  padding: 0 $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size(40px,20px, 15px, 38px, 6px);

  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 0px;
      outline-offset: -2px;
      box-shadow: none;
    }
  }

  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active,
  &:focus,
  &.focus {
    box-shadow: none;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: disabled;
    box-shadow: none;
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }

  a {
    &.disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
  }
  &.btn-square {
    border-radius: 0px;
  }
  &.btn-pill {
    border-radius: 100px;
  }
}
.btn-primary {
  color: $white-color;
  background-color: $theme-color;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active {
    background-color: rgba($theme-color,0.9);
    border-color: rgba($theme-color,0.9);
  }
}
.btn-secondary {
  color: $text-color;
  background-color: $white-color;
  border-color: $border-color;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active {
    background-color: rgba($white-color,0.9);
    color: $text-color;
  }
}
.btn-success {
  color: $white-color;
  background-color: $success;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active {
    background-color: rgba($success,0.9);
    border-color: rgba($success,0.9);
  }
}
.btn-info {
  color: $white-color;
  background-color: $info;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active {
    background-color: rgba($info,0.9);
    border-color: rgba($info,0.9);
  }
}
.btn-warning {
  color: $white-color;
  background-color: $warning;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active {
    background-color: rgba($warning,0.9);
    border-color: rgba($warning,0.9);
  }
}
.btn-danger {
  color: $white-color;
  background-color: $danger;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active {
    background-color: rgba($danger,0.9);
    border-color: rgba($danger,0.9);
  }
}


// ===== Outline Button =====
.btn-outline-primary {
  color: $theme-color;
  background-color: transparent;
  background-image: none;
  border-color: $theme-color;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active {
    color: $white-color;
    background-color: $theme-color;
    border-color: $theme-color;
  }
}
.btn-outline-secondary {
  color:$text-color;
  background-color: transparent;
  background-image: none;
  border-color: $border-color;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active {
    color: $primary-color;
    background-color: $border-color;
    border-color: $border-color;
  }
}
.btn-outline-success {
  color: $success;
  background-color: transparent;
  background-image: none;
  border-color: $success;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active {
    color: $white-color;
    background-color: $success;
    border-color: $success;
  }
}
.btn-outline-info {
  color: $info;
  background-color: transparent;
  background-image: none;
  border-color: $info;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active {
    color: $white-color;
    background-color: $info;
    border-color: $info;
  }
}
.btn-outline-warning {
  color: $warning;
  background-color: transparent;
  background-image: none;
  border-color: $warning;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active {
    color: $white-color;
    background-color: $warning;
    border-color: $warning;
  }
}
.btn-outline-danger {
  color:$danger;
  background-color: transparent;
  background-image: none;
  border-color: $danger;
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &.active {
    color: $white-color;
    background-color: $danger;
    border-color: $danger;
  }
}
// ===== Disable Button =====
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: rgba($theme-color, 0.65);
  border-color: rgba($theme-color, 0.35);
}
.btn-success.disabled,
.btn-success:disabled {
  background-color: rgba($success,0.65);
  border-color: rgba($success,0.35);
}
.btn-info.disabled,
.btn-info:disabled {
  background-color: rgba($info,0.65);
  border-color: rgba($info,0.35);
}
.btn-warning.disabled,
.btn-warning:disabled {
  background-color: rgba($warning,0.65);
  border-color: rgba($warning,0.35);
}
.btn-danger.disabled,
.btn-danger:disabled {
  background-color: rgba($danger,0.65);
  border-color: rgba($danger,0.35);
}
// ===== Large Button =====
.btn-lg {
  @include button-size(50px,30px, 17px, 48px, 6px);
}
// ===== Large Button =====
.btn-sm {
  @include button-size(30px,20px, 13px, 28px, 4px);
}

// ===== Vector Map Zoom In And Zoom Out Button =====
.jvectormap-zoomin,
.jvectormap-zoomout {
  background-color: $theme-color;
}
